a {
    color: black;
    text-decoration: none;
}

.tablinks {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    width: 20%;
    height: 33px;
    background-color: transparent;
    background: linear-gradient(-60deg, transparent 20px, white 0) right,
        linear-gradient(120deg, transparent 20px, white 0) left;
    background-size: 50% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    color: #bbb;
}


.tablinks:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;

    width: 20%;
    height: 33px;
    color: #888;
    background-color: transparent;
    background: linear-gradient(-60deg, transparent 20px, white 0) right,
        linear-gradient(120deg, transparent 20px, white 0) left;
    background-size: 50% 100%;
    background-repeat: no-repeat;
}

.tablinks:checked {
    color: #555;
    border: 1px solid #ddd;
    border-top: 2px solid orange;
    border-bottom: 1px solid #fff;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font: 14px/1 'Open Sans', sans-serif;
    color: #555;
    background: #eee;
}

h1 {
    padding: 50px 0;
    font-weight: 400;
    text-align: center;
}

p {
    margin: 0 0 20px;
    line-height: 1.5;
}

main {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    margin: 0 auto;
    /* background: #fff; */
}

section {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #ddd;
}

input {
    display: none;
    background: linear-gradient(-60deg, transparent 20px, white 0) right,
        linear-gradient(120deg, transparent 20px, white 0) left;
    background-size: 50% 100%;
}

label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #bbb;
    background-color: #fff;
    border: 1px solid transparent;

}

label:before {
    font-family: fontawesome;
    font-weight: normal;
    margin-right: 10px;
}

/* label[for*='1']:before {
    content: '\f1cb';
}

label[for*='2']:before {
    content: '\f17d';
}

label[for*='3']:before {
    content: '\f16b';
}

label[for*='4']:before {
    content: '\f1a9';
} */

label:hover {
    color: #888;
    cursor: pointer;

}

input:checked+label {
    color: #555;
    border: 1px solid #ddd;
    border-top: 2px solid orange;
    border-bottom: 1px solid #fff;
}

#tab1:checked~#content1,
#tab2:checked~#content2,
#tab3:checked~#content3,
#tab4:checked~#content4 {
    display: block;
}


@media screen and (max-width: 650px) {
    .tablinks {
        font-size: 0.5rem;
    }

    label:before {
        margin: 0;
        font-size: 18px;
    }
}

@media screen and (max-width: 400px) {
    .tablinks {
        font-size: 0.5rem;
        width: 30%;
    }
    .tablinks:hover {
        font-size: 0.5rem;
        width: 30%;
    }
}