a {
    color: black;
    text-decoration: none;
}

.outer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 33px;
    background-color: transparent;
    background: linear-gradient(-60deg, transparent 20px, white 0) right,
        linear-gradient(120deg, transparent 20px, white 0) left;
    background-size: 50% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
}


.outer:active {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 33px;
    background-color: transparent;
    background: linear-gradient(-60deg, transparent 20px, #A6B3D2 0) right,
        linear-gradient(120deg, transparent 20px, #A6B3D2 0) left;
    background-size: 50% 100%;
    background-repeat: no-repeat;
}